@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model princessrun.Models.Hero

<h2>Add Avatar</h2>

@using (Html.BeginForm("Avatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)

    <input type="file" id="avatar" name="avatar" />
    <input type="submit" value="Submit" />
}
